<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.drivertest.hdrivinglicense">

    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/driving_school"
        android:label="@string/app_name"
        android:roundIcon="@drawable/driving_school"
        android:supportsRtl="true"
        android:theme="@style/Theme.HDrivingLicense"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">

        </activity>

        <activity android:name=".QuestionActivity" />
        <activity
            android:name=".iap.activities.BuyCoinActivity"
            android:exported="true" />
        <activity
            android:name=".iap.activities.Subscriptions"
            android:exported="true" />
        <activity
            android:name=".iap.activities.IAPActivity"
            android:exported="true" />

        <activity
            android:name=".iap.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>